
.csv:after {
  content: ',';
  padding-right: 0.2rem;
}
.csv:last-of-type:after {
  content:none;
  padding-right: 0;
}
.dropdown {
  float:left;
}
.css-26l3qy-menu {
  z-index:100 !important;
}
.card-title {
  height: 75px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-body {
  padding-bottom: 0 !important;
}
.card-footer {
  padding-top: 0 !important;
  border-top: none !important;
  background-color: transparent !important;
}
.card-link {
  display: block;
}
